.top {
	height: 800px;
	background-color: #33bbff;
}

.title {
	height: 50px;
	background-color: #2db300;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.subtitle1 {
	height: 50px;
	background-color: #2db300;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;

	/* 这里是相对于上一个同级div的margin距离 */
	margin-top: 10px;
}


/* 在这里subtitle2 和 subtitle3都用了position: relative; 但是和没有这个样式
出来的效果是一样的，因为没有使用top,left之类的位置信息 */
.subtitle2 {
	position: relative;

	height: 50px;
	background-color: #2db300;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;	

	margin-top: 10px;
}

.subtitle3 {
	position: relative;

	height: 50px;
	background-color: #2db300;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;	

	margin-top: 10px;
}

/* 和上面一样，这是使用了relative的定位，因为有了top这样的位置信息，它往下移了 */
.subtitle4 {
	position: relative;

	height: 50px;
	background-color: #2db300;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;	

	margin-top: 10px;
	top: 50px;
}

.subtitle5 {
	/*position: relative;*/

	height: 50px;
	background-color: #cc00cc;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;	

	margin-top: 10px;
	top: 50px;
}






















